@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


body {
    font-family: roboto, sans-serif;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.credits {
    margin: 0;
    font-size: smaller;
}

.main-image-credits {    
    color: #f9faf8;
}

.hero, .header {
    padding: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}


.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;    
}

.hero-secondary-text {
    margin: 0;
}

.hero-secondary-text, ul {
    font-size: 18px;
    color: #e5e7eb;
}
.information {
    display: flex;
    align-items: flex-start;
    padding-right: 50px;
    min-width: 300px;
}

.hero-button {
    display: block;
    padding: 5px 20px;
    margin-top: 5px;
    color: #f9faf8;
    border-radius: 8px;
    border-style: solid;
    border-color: #1f2937;
    font-weight: 700;
}

.information, .main-image {
    height: 300px;
}

.main-image img{
    height: 250px;
    width: auto;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.cards {
    display: flex;
    margin: 0 100px;
}

.card {
    flex: 1;
    padding: 10px;
    text-align: center;  
    display: flex;
    flex-direction: column; 
}

.card-top {
    border: 5px solid #3882f6;
    border-radius: 8px;
    height: auto;    
}

.card h3 {
    margin: 0;
}

.card img {
    width: 150px;
    height: auto;
}

.quote {
    margin: 0 100px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

span {
    display: block;
    text-align: right;
    font-weight: bold;
}

.banner {
    display: flex;
    margin: auto 50px;
    padding: 30px 100px;
    align-items: center;
}

.sign-up-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}





button, .banner {
    background-color: #3882f6;
}