@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


body {
    font-family: roboto;
}

div {
   /* border: 1px solid red;*/
}

.credits {
    margin: 0;
    font-size: smaller;
}

.pre, .header {
    margin: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-image img {
    height: 50px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.pre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.information {
    display: flex;
    align-items: center;
}


.hero-button {
    display: block;
    padding: 5px;
    margin-top: 5px;
}

.information, .main-image {
    height: 300px;
}

.main-image img{
    height: 250px;
    width: auto;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.cards {
    display: flex;
    margin: 0 100px;
}

.card {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.card h3 {
    margin: 0;
}

.card img {
    width: 150px;
    height: auto;
}

.quote {
    margin: 0 100px;
    text-align: center;
}

span {
    display: block;
    text-align: right;
    font-weight: bold;
}

.banner {
    display: flex;
    margin: auto 50px;
    padding: 30px 100px;
    align-items: center;
}

.sign-up-button {
    display: block;
    margin-left: auto;
    padding: 5px 10px;
}